</div>
<div class="mainfooter">
    <p>Made With Love By Omkar Kumbhar</p>

    <div class="footericon">
        <a href="https://github.com/OmkarKumbhar2001" target="blanck"><i class="fab fa-github lastic"></i></a>
        <a href="https://www.linkedin.com/in/omkar-kumbhar-b8b62620b/" target="blanck"><i class="fab fa-linkedin-in lastic"></i></a>
        <a href="https://www.instagram.com/omkar_kumbhar._._/" target="blanck"><i class="fab fa-instagram lastic"></i></a>
    </div>
</div>
</body>

</html>